{%- liquid
  assign page_width = section.settings.page_width
  assign section_background = section.settings.section_background
-%}

{{ 'collection-carousel.css' | asset_url | stylesheet_tag }}

{% style %}
.section-collection-carousel-container {
  background-color: {{ section_background }};
}
.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__title h2 {
  color: {{ section.settings.title_color }};
}
.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__description {
  color: {{ section.settings.description_color }};
}

.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__title h2{text-align:center}.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__description{text-align:center}.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a img{width:100%}.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a h3{text-align:center;font-size:24px}@media(min-width: 1501px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a h3{font-size:28px}}@media(max-width: 1024px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a h3{font-size:20px}}@media(max-width: 768px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a h3{font-size:18px}}@media(max-width: 425px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a h3{font-size:16px}}.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a .price{text-align:center;font-size:18px}@media(max-width: 768px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a .price{font-size:16px}}@media(max-width: 425px){.section-collection-carousel-container .collection-carousel-wrapper .collection-carousel__products-container .swiper-slide>a .price{font-size:14px}}

{% endstyle %}
<div class="{% if page_width %}page-container{% endif %} section-collection-carousel-container">
  <div class="collection-carousel-wrapper">\';[p]'
    <div class="collection-carousel__title">
      <h2 class="heading-style heading-base full_shadow">{{ section.settings.title }}</h2>
    </div>
    <div class="collection-carousel__description">
      {{ section.settings.description }}
    </div>
    
    {% if section.settings.use_custom_collection %}
      {% assign collection = collections[section.settings.collection] %}
      {% assign products = collection.products %}
    {% else %}
      {% assign products = section.settings.products %}
    {% endif %}

    {% if products.size > 0 %}
      <div class="collection-carousel__products-container overflow-hidden">
        <div class="swiper-wrapper hidden">
          {% for product in products %}
            {% assign current_variant = product.selected_or_first_available_variant %}
            <div class="swiper-slide">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                <h3>
                  {{ product.title 
                    | remove: " - All-in-One Shake"
                    | remove: ' - Shake tout-en-un' 
                    | remove: 'Green Superfood Juice - ' 
                    | remove: 'Jus de superaliments verts - '
                    | remove: ' - Green Apple'
                    | remove: ' - Pomme verte'
                    | remove: '- Boisson tout-en-un'
                  }}
                </h3>
                <div class="junip-product-summary-stars" data-junip-product-id="ENTER PRODUCT ID"></div>
                <div class="price">
                  <div class="price__regular">
                    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
                    <span class="price-item price-item--regular">
                      {{ current_variant.price | money }}
                      {% if current_variant.price != current_variant.compare_at_price %}
                        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
                        <span>
                          <s class="price-item price-item--regular">
                            {{ current_variant.compare_at_price | money }}
                          </s>
                        </span>
                      {% endif %}
                    </span>
                  </div>
                </div>
              </a>

              <button id="quick-buy-btn-{{ product.id }}" class=" btn quick-buy-btn" data-product-id="{{ product.id }}" data-variant-id="{{ current_variant.id }}">
                Add
              </button>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="no-products-description">No products</div>
    {% endif %}

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".collection-carousel__products-container").classList.remove("hidden");
    const collectionCarouselProductsContainer = new Swiper('.collection-carousel__products-container', {
      breakpoints: {
        1024: {
          slidesPerView: {{ section.settings.items_per_page_1024 }},
          spaceBetween: 40,
        },
        768: {
          slidesPerView: {{ section.settings.items_per_page_768 }},
          spaceBetween: 20,
        },
        0: {
          slidesPerView: {{ section.settings.items_per_page_480 }},
          spaceBetween: 5,
        },
      }
    });
  });
</script>

{% schema %}
{
  "name": "Collection Carousel",
  "class": "collection-carousel",
  "settings": [
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Choose products"
    },
    {
      "type": "checkbox",
      "id": "use_custom_collection",
      "label": "Using Collection",
      "default": true
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products"
    },
    {
      "type": "header",
      "content": "Design settings"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background",
      "default": "#ffffff"
    },
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Page max-width",
      "default": true
    },
    {
      "type": "range",
      "id": "items_per_page_1024",
      "label": "Items per page (Desktop)",
      "min": 1,
      "max": 10,
      "default": 5
    },
    {
      "type": "range",
      "id": "items_per_page_768",
      "label": "Items per page (Tablet)",
      "min": 1,
      "max": 7,
      "default": 3
    },
    {
      "type": "range",
      "id": "items_per_page_480",
      "label": "Items per page (Mobile)",
      "min": 1,
      "max": 5,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show dots",
      "default": true
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection Carousel"
    }
  ]
}
{% endschema %}