{{'custom-product-carousel.css' | asset_url | stylesheet_tag }}
<style>
  .flavours-carousel {
    max-width: 1440px;
    margin: auto;
  }
  @media (max-width: 1440px) {
    .flavours-carousel {
      max-width: 90%;
    }
  }
  @media (max-width: 1024px) {
    .flavours-carousel {
      max-width: 90%;
    }
  }
  @media (max-width: 768px) {
    .flavours-carousel {
      max-width: 80%;
    }
  }

  .flavours-carousel .inner_product-video-carousel .product-video-box {
    margin-bottom: 0px;
  }
  .flavours-carousel .carousel-title {
    margin-bottom: 15px;
  }

  .swiper-button-prev:after {
    content: '';
    display: none;
  }
  .swiper-button-next:after {
    content: '';
    display: none;
  }
  
  #shopify-section-{{ section.id }} .product-video-carousel{
    background-color:{{ section.settings.bg_color }};
  }

  .v_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #loadMore {
    width: 200px;
    color: #000;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    text-underline-position: under;
    text-decoration: underline;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }  
  .slick-list {
    padding: 0px !important;
  }
  .item-label-saturn {
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
  }
  @media (max-width: 1024px) {
    .item-label-saturn {
      font-size: 13px;
    }
  }
  @media (max-width: 768px) {
    .item-label-saturn {
      font-size: 12px;
    }
  }
</style>
<div class="flavours-carousel flavour-carousel-{{ section.id }} hidden overflow-hidden"  style="border-bottom: 2px solid #2998FF; margin: auto; padding: 20px 0px; background-color:{{ section.settings.bg_color }};">
  <!-- <div class="inner_product-video-carousel" style="display: none !important"> -->
  <h2 class="m-3 carousel-title">{{ section.settings.carousel_title }}</h2>
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% assign flavour_length = forloop.index %}
      <div class="product-section-box product-video-box swiper-slide non-hide">
        {% if request.locale.iso_code == 'fr' %}
          {% if block.settings.fr_image != blank %}
            {% assign image_link = block.settings.fr_image | image_url: width: 600 %}
          {% else %}
            {% assign image_link = block.settings.image | image_url: width: 600 %}
          {% endif %}
        {% else %}
          {% assign image_link = block.settings.image | image_url: width: 600 %}
        {% endif %}
        {% if image_link != blank %}
          {{image_link | image_tag: class: 'image', image_size: '400x' }}
        {% endif %}
        <div class="item-label-saturn">{{ block.settings.flavour_label }}</div>
        <div class="hidden flavour-tag-saturn" data-tag-value="!{{ block.settings.flavour_tag }}!">{{ block.settings.flavour_tag }}</div>
        <div class="hidden product-tag-saturn">{{ block.settings.product_tag }}</div>
      </div>
    {% endfor %}
  </div>
  <button class="btn-prev-{{ section.id }} swiper-button-prev">
    <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-left-in-circle.png?v=1741981965" />
  </button>
  <button class="btn-next-{{ section.id }} swiper-button-next">
    <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-right-in-circle.png?v=1741981965" />
  </button>
</div>
{% comment %} {% style %}
{% assign item_container_max_width = flavour_length | times: section.settings.item_max_width %}
.flavour-carousel-{{ section.id }} {
  max-width: {% if item_container_max_width > 1440 %}1440{% else %}{{ item_container_max_width }}{% endif %}px !important;
}
{% endstyle %} {% endcomment %}
<script>
  const flavourCarousel = document.querySelector('.flavour-carousel-{{ section.id }}');
  const windowsWidth = window.innerWidth;
  const flavourCount = flavourCarousel.querySelectorAll('.swiper-slide.non-hide').length;
  const itemMaxWidth = {{ section.settings.item_max_width }};

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".flavour-carousel-{{ section.id }}").classList.remove("hidden");
    flavourCarousel.style.maxWidth = itemMaxWidth * flavourCount > 1440 ? '1440px !important' : itemContainerMaxWidth * flavourCount + 'px !important';
    var itemMaxWidth = {{ section.settings.item_max_width }};

    var breakpoints = {
      3000: {
        slidesPerView: Math.ceil(3000 / itemMaxWidth),
        spaceBetween: 20,
      }
    };

    for (let i = 1; i < (3000 / itemMaxWidth); i++) {
      breakpoints[3000 - (i * itemMaxWidth)] = {
        slidesPerView: Math.ceil((3000 - (i * itemMaxWidth)) / itemMaxWidth),
        spaceBetween: parseInt((i * itemMaxWidth) / 500),
      };
    }

    const collectionCarouselProductsContainer = new Swiper('.flavour-carousel-{{ section.id }}', {
      navigation: {
        nextEl: '.btn-next-{{ section.id }}',
        prevEl: '.btn-prev-{{ section.id }}'
      },
      breakpoints: breakpoints
    });
  });
  windows.resize(() => {
    if (flavourCarousel) {
      flavourCarousel.style.maxWidth = itemMaxWidth * flavourCount > 1440 ? '1440px' : itemContainerMaxWidth * flavourCount + 'px';
    }
  });
</script>
{% schema %}
{
  "name": "Flavour Carousel",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "carousel_title"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Bg Color"
    },
    {
      "type":"number",
      "id":"itme_show",
      "label":"Show Per Item",
      "default":6
    },
    {
      "type": "range",
      "id": "item_max_width",
      "label": "Item Max Width",
      "min": 50,
      "max": 150,
      "default": 100
    },
    {
      "type": "range",
      "id": "items_per_page_1024",
      "label": "Items per page (Desktop)",
      "min": 1,
      "max": 15,
      "default": 12
    },
    {
      "type": "range",
      "id": "items_per_page_768",
      "label": "Items per page (Tablet)",
      "min": 1,
      "max": 10,
      "default": 7
    },
    {
      "type": "range",
      "id": "items_per_page_480",
      "label": "Items per page (Mobile)",
      "min": 1,
      "max": 5,
      "default": 3
    },
  ],
  "blocks":[
    {
      "type":"image",
      "name":"Image",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type": "text",
          "id": "flavour_label",
          "label": "flavour label"
        },
        {
          "type": "text",
          "id": "flavour_tag",
          "label": "Tag"
        },
        {
          "type": "text",
          "id": "product_tag",
          "label": "Product Tag"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Flavour Carousel",
      "category":"product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
