{{'custom-product-carousel.css' | asset_url | stylesheet_tag }}
<style>
  .flavours-carousel {
    max-width: 1440px;
    margin: auto;
  }
  @media (max-width: 1440px) {
    .flavours-carousel {
      width: 90%;
    }
  }
  @media (max-width: 1024px) {
    .flavours-carousel {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    .flavours-carousel {
      width: 80%;
    }
  }

  .flavours-carousel .inner_product-video-carousel .product-video-box {
    margin-bottom: 0px;
  }
  .flavours-carousel .carousel-title {
    margin-bottom: 15px;
    text-align: center;
  }

  .swiper-button-prev:after {
    content: '';
    display: none;
  }
  .swiper-button-next:after {
    content: '';
    display: none;
  }
  
  #shopify-section-{{ section.id }} .product-video-carousel{
    background-color:{{ section.settings.bg_color }};
  }

  .v_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #loadMore {
    width: 200px;
    color: #000;
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 18px;
    font-weight: 600;
    text-underline-position: under;
    text-decoration: underline;
  }

  .noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
  }  
  .slick-list {
    padding: 0px !important;
  }
  .item-label-saturn {
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
  }
  @media (max-width: 1024px) {
    .item-label-saturn {
      font-size: 12px;
    }
  }
  @media (max-width: 768px) {
    .item-label-saturn {
      font-size: 12px;
    }
  }
</style>
<div class="flavours-carousel flavours-carousel-{{ section.id }} hidden overflow-hidden"  style="margin: auto; padding: 20px 0 0 0px; background-color:{{ section.settings.bg_color }};">
  <!-- <div class="inner_product-video-carousel" style="display: none !important"> -->
  <h2 class="m-3 carousel-title">{{ section.settings.carousel_title }}</h2>
  <div class="swiper-wrapper" style="padding-bottom: 5px;">
    {% for block in section.blocks %}
      {% assign flavour_length = forloop.index %}
      <div class="product-section-box product-video-box swiper-slide non-hide">
        {% if request.locale.iso_code == 'fr' %}
          {% if block.settings.fr_image != blank %}
            {% assign image_link = block.settings.fr_image | image_url: width: 600 %}
          {% else %}
            {% assign image_link = block.settings.image | image_url: width: 600 %}
          {% endif %}
        {% else %}
          {% assign image_link = block.settings.image | image_url: width: 600 %}
        {% endif %}
        {% if image_link != blank %}
          {{image_link | image_tag: class: 'image', image_size: '400x' }}
        {% endif %}
        <div class="item-label-saturn">{{ block.settings.flavour_label }}</div>
        <div class="hidden flavour-tag-saturn" data-tag-value="!{{ block.settings.flavour_tag }}!">{{ block.settings.flavour_tag }}</div>
        <div class="hidden product-tag-saturn">{{ block.settings.product_tag }}</div>
      </div>
    {% endfor %}
  </div>
  <button class="btn-prev-{{ section.id }} swiper-button-prev">
    <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-left-in-circle.png?v=1741981965" />
  </button>
  <button class="btn-next-{{ section.id }} swiper-button-next">
    <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-right-in-circle.png?v=1741981965" />
  </button>
</div>
<div class="flavour-carousel-bottom-line" style="border-bottom: 2px solid #2998FF; width: 90%; margin: auto"></div>
<div class="hidden flavour-icon-max-width">{{ section.settings.item_max_width }}</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const flavoursContainer =  document.querySelector(".flavours-carousel-{{ section.id }}");
    flavoursContainer.classList.remove("hidden");

    const itemMaxWidth = {{ section.settings.item_max_width }};
    const itemCount = {{ flavour_length }};

    if (itemCount * itemMaxWidth < window.innerWidth) {
      document.querySelector(".flavours-carousel-{{ section.id }}").style.maxWidth = itemCount * itemMaxWidth + "px";
    }
    window.addEventListener("resize", function() {
      if (itemCount * itemMaxWidth < window.innerWidth) {
        document.querySelector(".flavours-carousel-{{ section.id }}").style.maxWidth = itemCount * itemMaxWidth + "px";
      }
    });

    var breakpoints = {
      3000: {
        slidesPerView: Math.ceil(3000 / itemMaxWidth),
        spaceBetween: 30,
      }
    };

    for (let i = 1; i < (3000 / itemMaxWidth); i++) {
      breakpoints[3000 - (i * itemMaxWidth)] = {
        slidesPerView: (Math.ceil((3000 - (i * itemMaxWidth)) / itemMaxWidth) > itemCount ? itemCount : Math.ceil((3000 - (i * itemMaxWidth)) / itemMaxWidth)),
        spaceBetween: parseInt((i * itemMaxWidth) / 200),
      };
    }

    const collectionCarouselProductsContainer = new Swiper('.flavours-carousel-{{ section.id }}', {
      navigation: {
        nextEl: '.btn-next-{{ section.id }}',
        prevEl: '.btn-prev-{{ section.id }}'
      },
      breakpoints: breakpoints
    });
  });
</script>
{% schema %}
{
  "name": "Flavour Carousel",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "carousel_title"
    },
    {
      "type":"color",
      "id":"bg_color",
      "label":"Bg Color"
    },
    {
      "type":"number",
      "id":"itme_show",
      "label":"Show Per Item",
      "default":6
    },
    {
      "type": "range",
      "id": "item_max_width",
      "label": "Item Max Width",
      "min": 50,
      "max": 150,
      "default": 100
    },
    {
      "type": "range",
      "id": "items_per_page_1024",
      "label": "Items per page (Desktop)",
      "min": 1,
      "max": 15,
      "default": 12
    },
    {
      "type": "range",
      "id": "items_per_page_768",
      "label": "Items per page (Tablet)",
      "min": 1,
      "max": 10,
      "default": 7
    },
    {
      "type": "range",
      "id": "items_per_page_480",
      "label": "Items per page (Mobile)",
      "min": 1,
      "max": 5,
      "default": 3
    },
  ],
  "blocks":[
    {
      "type":"image",
      "name":"Image",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type": "text",
          "id": "flavour_label",
          "label": "flavour label"
        },
        {
          "type": "text",
          "id": "flavour_tag",
          "label": "Tag"
        },
        {
          "type": "text",
          "id": "product_tag",
          "label": "Product Tag"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Flavour Carousel",
      "category":"product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
