{%- liquid
  assign page_width = section.settings.page_width
-%}

{{ 'replo-style-review.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} .sectoin-replo-style-review-container {
    background-color: {{ section.settings.background }};
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  #shopify-section-{{ section.id }} .stars-wrapper  {
    color: {{ section.settings.review_star_color }};
  }
  #shopify-section-{{ section.id }} .verification-badge-wrapper  {
    color: {{ section.settings.review_star_color }};
  }
{% endstyle %}

<div class="sectoin-replo-style-review-container">
  <div class="{% if page_width %}page-container{% endif %} replo-style-review-wrapper replo-style-review-wrapper-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h2 class="heading-style heading-base full_shadow" style="color: {{ block.settings.color }}">{{ block.settings.title }}</h2>
        {% when 'subtitle' %}
          <h3 class="" style="color: {{ block.settings.color }}">{{ block.settings.subtitle }}</h3>
      {% endcase %}
    {% endfor %}
    <div class="replo-style-review-carousel-container replo-style-review-carousel-container-{{ section.id }} hidden overflow-hidden">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'review' %}
              {% assign review_count = forloop.index %}
              <div class="swiper-slide">
                <div class="replo-style-review-card">
                  <div class="stars-wrapper">
                    {% render 'icon-fat-star' %}
                    {% render 'icon-fat-star' %}
                    {% render 'icon-fat-star' %}
                    {% render 'icon-fat-star' %}
                    {% render 'icon-fat-star' %}
                  </div>
                  <p>{{ block.settings.review }}</p>
                  <div class="customer">
                    {% if block.settings.customer_photo != blank %}
                      <img src="{{ block.settings.customer_photo | image_url: width: 100 }}" alt="Customer photo" />
                    {% endif %}
                    <div class="verification-badge-wrapper">
                      {{ block.settings.customer_name }}
                      {% render 'icon-check-in-circle' %}
                    </div>
                  </div>
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="swiper-pagination-{{ section.id }}"></div>
      <button class="btn-prev-{{ section.id }} swiper-button-prev">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-left-in-circle.png?v=1741981965" />
      </button>
      <button class="btn-next-{{ section.id }} swiper-button-next">
        <img src="https://cdn.shopify.com/s/files/1/0012/5573/5405/files/arrow-right-in-circle.png?v=1741981965" />
      </button>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".replo-style-review-carousel-container-{{ section.id }}").classList.remove("hidden");
    const collectionCarouselProductsContainer = new Swiper('.replo-style-review-carousel-container-{{ section.id }}', {
      pagination: {
        el: ".swiper-pagination-{{ section.id }}",
        type: "bullets",
        clickable: true,
        dynamicBullets: false
      },
      navigation: {
        nextEl: '.btn-next-{{ section.id }}',
        prevEl: '.btn-prev-{{ section.id }}'
      },
      breakpoints: {
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        0: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
      }
    });
  });
</script>

{% schema %}
{
  "name": "replo-style-review",
  "class": "replo-style-review",
  "settings": [
    {
      "type": "header",
      "content": "Design settings"
    },
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "Page max-width",
      "default": true
    },
    {
      "id": "background",
      "type": "color",
      "label": "Background color"
    },
    {
      "id": "padding_top",
      "type": "range",
      "label": "Padding top",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "id": "padding_bottom",
      "type": "range",
      "label": "Padding bottom",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "id": "review_star_color",
      "type": "color",
      "label": "Review star color"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Title color"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Subtitle color"
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "text",
          "id": "review",
          "label": "Review"
        },
        {
          "id": "customer_photo",
          "type": "image_picker",
          "label": "Customer photo"
        },
        {
          "id": "customer_name",
          "type": "text",
          "label": "Customer name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "replo-style-review"
    }
  ]
}
{% endschema %}