{% comment %}
---------------------------------------------------------
Copyright © 2023 Section Store. All rights reserved.
Unauthorized copying, modification, distribution, or use
of this code or any portion of it, is strictly prohibited.
Violators will be prosecuted to the fullest extent of the law.
For inquiries or permissions, contact daniel@section.store
---------------------------------------------------------
{% endcomment %}

{%- liquid 
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign content_padding_horizontal = section.settings.content_padding_horizontal
  assign content_padding_horizontal_mobile = section.settings.content_padding_horizontal_mobile
  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_custom = section.settings.heading_custom
  assign heading_font = section.settings.heading_font
  assign heading_height = section.settings.heading_height
  assign heading_color = section.settings.heading_color

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_custom = section.settings.sub_heading_custom
  assign sub_heading_font = section.settings.sub_heading_font
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_mt = section.settings.sub_heading_mt
  assign sub_heading_mt_mobile = section.settings.sub_heading_mt_mobile

  assign scrolling_gap = section.settings.scrolling_gap
  assign scrolling_gap_mobile = section.settings.scrolling_gap_mobile
  assign scrolling_velocity = section.settings.scrolling_velocity
  assign scrolling_velocity_mobile = section.settings.scrolling_velocity_mobile
  assign reverse_direction = section.settings.reverse_direction
  assign scrolling_mt = section.settings.scrolling_mt
  assign scrolling_mt_mobile = section.settings.scrolling_mt_mobile 
  assign one_line = section.settings.one_line
  assign pause_hover = section.settings.pause_hover

  assign block_size = section.blocks.size | divided_by: 2

  assign card_width = section.settings.card_width
  assign card_width_mobile = section.settings.card_width_mobile
  assign card_padding_horizontal = section.settings.card_padding_horizontal
  assign card_padding_horizontal_mobile = section.settings.card_padding_horizontal_mobile
  assign card_padding_vertical = section.settings.card_padding_vertical
  assign card_padding_vertical_mobile = section.settings.card_padding_vertical_mobile
  assign card_radius = section.settings.card_radius  
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_bg_color = section.settings.card_bg_color
  assign card_content_align = section.settings.card_content_align
  assign card_content_align_mobile = section.settings.card_content_align_mobile
  assign card_content_vertical_align = section.settings.card_content_vertical_align
  assign card_content_vertical_align_mobile = section.settings.card_content_vertical_align_mobile

  assign card_content_horizontal_align = ""
  if card_content_align == "center"
    assign card_content_horizontal_align = "center"
  elsif card_content_align == "right"
    assign card_content_horizontal_align = "end"
  else
    assign card_content_horizontal_align = "start"
  endif

  assign card_content_horizontal_align_mobile = ""
  if card_content_align_mobile == "center"
    assign card_content_horizontal_align_mobile = "center"
  elsif card_content_align_mobile == "right"
    assign card_content_horizontal_align_mobile = "end"
  else
    assign card_content_horizontal_align_mobile = "start"
  endif

  assign image_width = section.settings.image_width
  assign image_width_mobile = section.settings.image_width_mobile
  assign image_radius = section.settings.image_radius

  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color
  assign title_mt = section.settings.title_mt
  assign title_mt_mobile = section.settings.title_mt_mobile
  
  assign stars_mt = section.settings.stars_mt
  assign stars_mt_mobile = section.settings.stars_mt_mobile

  assign stars_icon = section.settings.stars_icon
  assign stars_color = section.settings.stars_color
  assign stars_half_bg_color = section.settings.stars_half_bg_color
  assign stars_size = section.settings.stars_size
  assign stars_size_mobile = section.settings.stars_size_mobile
  assign stars_mt = section.settings.stars_mt
  assign stars_mt_mobile = section.settings.stars_mt_mobile
  
  assign text_custom = section.settings.text_custom
  assign text_font = section.settings.text_font
  assign text_size = section.settings.text_size
  assign text_size_mobile = section.settings.text_size_mobile
  assign text_height = section.settings.text_height
  assign text_color = section.settings.text_color
  assign text_mt = section.settings.text_mt
  assign text_mt_mobile = section.settings.text_mt_mobile

  assign author_custom = section.settings.author_custom
  assign author_font = section.settings.author_font
  assign author_size = section.settings.author_size
  assign author_size_mobile = section.settings.author_size_mobile
  assign author_height = section.settings.author_height
  assign author_color = section.settings.author_color
  assign author_mt = section.settings.author_mt
  assign author_mt_mobile = section.settings.author_mt_mobile
  assign author_line_color = section.settings.author_line_color
-%}

{%- style -%}
  {{  heading_font | font_face: font_display: 'swap' }}
  {{  sub_heading_font | font_face: font_display: 'swap' }}
  {{  title_font | font_face: font_display: 'swap' }}
  {{  text_font | font_face: font_display: 'swap' }}
  {{  author_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    position: relative;
  }

  .testimonials-heading-{{ section.id }} {
    text-align: {{ content_align_mobile }};
    padding: 0 {{ content_padding_horizontal_mobile }}px;
  }

  .testimonials-heading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ heading_size_mobile }}px;
    line-height: {{ heading_height }}%;
    color: {{ heading_color }};
    text-transform: unset;
    word-break: break-word;
    font-weight: 700;
  }

  .testimonials-subheading-{{ section.id }} {
    margin-top: {{ sub_heading_mt_mobile }}px;
    text-align: {{ content_align_mobile }};
    padding: 0 {{ content_padding_horizontal_mobile }}px;
  }

  .testimonials-subheading-{{ section.id }} * {
    margin: 0px;
    font-size: {{ sub_heading_size_mobile }}px;
    line-height: {{ sub_heading_height }}%;
    color: {{ sub_heading_color }};
    text-transform: unset;
    word-break: break-word;
  }

  .testimonials-scrolling-{{ section.id }} {
    margin-top: {{ scrolling_mt_mobile }}px;
    overflow: hidden;   
  }

  .testimonials-wrapper-{{ section.id }} {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 200vw;
    position: relative;
    z-index: 0;
    left: -100vw;
    gap: {{ scrolling_gap_mobile }}px;
    background-attachment: scroll !important;    
 
  }

  .testimonials-wrapper-{{ section.id }}:first-child .testimonials-list-{{ section.id }} {
    -webkit-animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile | times: 3 }}s infinite linear;
    animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile | times: 3 }}s infinite linear;
  }

  .testimonials-wrapper-{{ section.id }}:last-child .testimonials-list-{{ section.id }} {
    -webkit-animation: tickerDown{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile | times: 3 }}s infinite linear;
    animation: tickerDown{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile | times: 3 }}s infinite linear;
    margin-top: {{ scrolling_gap_mobile }}px;
  }

  .testimonials-list-{{ section.id }} {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    background-attachment: scroll !important;
    gap: {{ scrolling_gap_mobile }}px;   
    flex-shrink: 0;
    -webkit-animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;
    animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity_mobile }}s infinite linear;   
  }

  .testimonials-card-{{ section.id }} {   
    flex-shrink: 0;
    width: {{ card_width_mobile }}px;
    border: {{ card_border_thickness }}px solid {{ card_border_color }};
    border-radius: {{ card_radius }}px;
    background-color: {{ card_bg_color }};
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    overflow: hidden;
  }

  .testimonials-content-{{ section.id }} {
    flex: 1 0;
    box-sizing: border-box;
    padding: {{ card_padding_vertical_mobile }}px {{ card_padding_horizontal_mobile }}px;
    display: flex;
    flex-direction: column;
    justify-content: {{ card_content_vertical_align_mobile }};
  }

  .testimonials-image-{{ section.id }} {
    height: 100%;
    flex: 1 0;
    border-radius: {{ image_radius }}px;
    overflow: hidden;
  }
  
  .testimonials-image-{{ section.id }} img,
  .testimonials-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .testimonials-author-text-{{ section.id }} {    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: {{ card_content_horizontal_align_mobile }};
    gap: 10px;
    margin-top: {{ author_mt_mobile }}px;
    font-size: {{ author_size_mobile }}px;
    color: {{ author_color }};
    line-height: {{ author_height }}%;
    text-transform: unset;
    word-wrap: break-word;
    text-align: {{ card_content_align_mobile }};
    font-weight: 700;
  }

  .testimonials-author-text-{{ section.id }}::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: {{ author_line_color }};
  }

  .testimonials-title-{{ section.id }} {
    margin: 0;
    margin-top: {{ title_mt_mobile }}px;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
    word-wrap: break-word;
    text-align: {{ card_content_align_mobile }};
  }

  .testimonials-text-{{ section.id }} {
    margin-top: {{ text_mt_mobile }}px;
    text-align: {{ card_content_align_mobile }};
    text-wrap: wrap;
  }

  .testimonials-text-{{ section.id }} * {
    margin: 0;
    font-size: {{ text_size_mobile }}px;
    color: {{ text_color }};
    line-height: {{ text_height }}%;
    text-transform: unset;
    text-decoration: none;
  }

  .testimonials-stars-{{ section.id }} {
    display: flex;
    align-items: end;
    justify-content: {{ card_content_horizontal_align_mobile }};
    gap: 4px;
    margin-top: {{ stars_mt_mobile }}px;
  }

  .testimonials-stars-{{ section.id }} svg,
  .testimonials-stars-{{ section.id }} img {
    display: block;
    width: {{ stars_size_mobile }}px;
    height: {{ stars_size_mobile }}px;
    object-fit: cover;
  }

  .testimonials-circle-icon-{{ section.id }} {
    width: {{ circle_size_mobile }}px;
    height: {{ circle_size_mobile }}px;
  }

  .testimonials-circle-icon-{{ section.id }} img,
  .testimonials-circle-icon-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonials-circle-icon-{{ section.id }} svg path {
    fill: {{ circle_color }};
  }

  .testimonials-circle-icon-{{ section.id }} svg circle {
    stroke: {{ circle_color }};
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .testimonials-heading-{{ section.id }} {
      text-align: {{ content_align }};
      padding: 0 {{ content_padding_horizontal }}px;
    }

    .testimonials-heading-{{ section.id }} * {
      font-size: {{ heading_size }}px;
    }

    .testimonials-subheading-{{ section.id }} {
      margin-top: {{ sub_heading_mt }}px;
      text-align: {{ content_align }};
      padding: 0 {{ content_padding_horizontal }}px;
    }

    .testimonials-subheading-{{ section.id }} * {
      font-size: {{ sub_heading_size }}px;
    }


    .testimonials-scrolling-{{ section.id }} {
      margin-top: {{ scrolling_mt }}px;
    }

    .testimonials-wrapper-{{ section.id }} {
      gap: {{ scrolling_gap }}px;     
    }

    .testimonials-wrapper-{{ section.id }}:first-child .testimonials-list-{{ section.id }} {
      -webkit-animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity | times: 3 }}s infinite linear;
      animation: tickerUp{{ section.id | replace: '-', '' }} {{ scrolling_velocity | times: 3 }}s infinite linear;
    }

    .testimonials-wrapper-{{ section.id }}:last-child .testimonials-list-{{ section.id }} {
      -webkit-animation: tickerDown{{ section.id | replace: '-', '' }} {{ scrolling_velocity | times: 3 }}s infinite linear;
      animation: tickerDown{{ section.id | replace: '-', '' }} {{ scrolling_velocity | times: 3 }}s infinite linear;
      margin-top: {{ scrolling_gap }}px;
    }    

    .testimonials-list-{{ section.id }} {
      gap: {{ scrolling_gap }}px;    
    }

    .testimonials-card-{{ section.id }} {   
      width: {{ card_width }}px;
    }

    .testimonials-content-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
      justify-content: {{ card_content_vertical_align }};
    }

    .testimonials-author-text-{{ section.id }} {    
      justify-content: {{ card_content_horizontal_align }};
      margin-top: {{ author_mt }}px;
      font-size: {{ author_size }}px;
      text-align: {{ card_content_align }};
    }

    .testimonials-author-text-{{ section.id }}::before {
      width: 50px;
    }
    
    .testimonials-title-{{ section.id }} {
      margin-top: {{ title_mt }}px;
      font-size: {{ title_size }}px;
      text-align: {{ card_content_align }};
    }

    .testimonials-text-{{ section.id }} {
      margin-top: {{ text_mt }}px;
      text-align: {{ card_content_align }};
    }

    .testimonials-text-{{ section.id }} * {
      font-size: {{ text_size }}px;
    }

    .testimonials-bottom-{{ section.id }} {
      margin-top: {{ stars_mt }}px;
    }

    .testimonials-stars-{{ section.id }} {
      justify-content: {{ card_content_horizontal_align }};
      margin-top: {{ stars_mt }}px;
    }

    .testimonials-stars-{{ section.id }} svg,
    .testimonials-stars-{{ section.id }} img {
      width: {{ stars_size }}px;
      height: {{ stars_size }}px;
    }

    .testimonials-circle-icon-{{ section.id }} {
      width: {{ circle_size }}px;
      height: {{ circle_size }}px;
    }
  }
  
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }
    
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if heading_custom %}
  <style>
    .testimonials-heading-{{ section.id }} * {
      font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
      font-weight: {{ heading_font.weight }};
      font-style: {{ heading_font.style }};
    }
  </style>
{% endif %}

{% if sub_heading_custom %}
  <style>
    .testimonials-subheading-{{ section.id }} * {
      font-family: {{ sub_heading_font.family }}, {{ sub_heading_font.fallback_families }};
      font-weight: {{ sub_heading_font.weight }};
      font-style: {{ sub_heading_font.style }};
    }
  </style>
{% endif %}

{% if author_custom %}
  <style>
    .testimonials-author-text-{{ section.id }} {
      font-family: {{ author_font.family }}, {{ author_font.fallback_families }};
      font-weight: {{ author_font.weight }};
      font-style: {{ author_font.style }};
    }
  </style>
{% endif %}

{% if title_custom %}
  <style>
    .testimonials-title-{{ section.id }} {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if text_custom %}
  <style>
    .testimonials-text-{{ section.id }} * {
      font-family: {{ text_font.family }}, {{ text_font.fallback_families }};
      font-weight: {{ text_font.weight }};
      font-style: {{ text_font.style }};
    }
  </style>
{% endif %}

{% if reverse_direction %}
  <style>
    @keyframes tickerUp{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    @keyframes tickerDown{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  </style>
{% else %}
  <style>
    @keyframes tickerUp{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    @keyframes tickerDown{{ section.id | replace: '-', '' }} {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  </style>
{% endif %}

{% if pause_hover %}
  <style>
    .testimonials-wrapper-{{ section.id }}:hover .testimonials-list-{{ section.id }} {
      animation-play-state: paused;
    }
  </style>
{% endif %}

{% capture list %} 
  <div class="testimonials-list-{{ section.id }}">
    {% for item in (1..5) %}
      {% for block in section.blocks %}
        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="testimonials-card-{{ section.id }}">
          <div class="testimonials-image-{{ section.id }}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: "600x600" }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>                 
            {% else %}    
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="testimonials-content-{{ section.id }}">
            {% if block.settings.title %}
              <p class="testimonials-title-{{ section.id }}">{{ block.settings.title }}</p>
            {% endif %}   
            {% if block.settings.stars_count != 0 %}                  
              <div class="testimonials-stars-{{ section.id }}">
                {% if stars_icon != blank %}
                  {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                  {% for item in (1..stars_count_round) %}
                    <img src="{{ stars_icon | image_url }}" alt="{{ stars_icon.alt }}">
                  {% endfor %}
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}6">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}7">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}8">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}9">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}10">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                {% endif %}
              </div>                       
            {% endif %}  
            {% if block.settings.text != blank %}
              <div class="testimonials-text-{{ section.id }}">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.author != blank %}
              <p class="testimonials-author-text-{{ section.id }}">{{ block.settings.author }}</p>
            {% endif %}
          </div>               
        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
      {% endfor %}
    {% endfor %}
  </div>
{% endcapture %}

{% capture list_limit %} 
  <div class="testimonials-list-{{ section.id }}">
    {% for item in (1..5) %}
      {% for block in section.blocks limit: block_size %}
        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="testimonials-card-{{ section.id }}">
          <div class="testimonials-image-{{ section.id }}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: "600x600" }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>                 
            {% else %}    
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="testimonials-content-{{ section.id }}">
            {% if block.settings.title %}
              <p class="testimonials-title-{{ section.id }}">{{ block.settings.title }}</p>
            {% endif %}   
            {% if block.settings.stars_count != 0 %}                        
              <div class="testimonials-stars-{{ section.id }}">
                {% if stars_icon != blank %}
                  {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                  {% for item in (1..stars_count_round) %}
                    <img src="{{ stars_icon | image_url }}" alt="{{ stars_icon.alt }}">
                  {% endfor %}
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}6">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}7">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}8">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}9">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}10">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                {% endif %}
              </div>                   
            {% endif %}   
            {% if block.settings.text != blank %}
              <div class="testimonials-text-{{ section.id }}">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.author != blank %}
              <p class="testimonials-author-text-{{ section.id }}">{{ block.settings.author }}</p>
            {% endif %}
          </div>              
        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
      {% endfor %}
    {% endfor %}
  </div>
{% endcapture %}

{% capture list_offset %} 
  <div class="testimonials-list-{{ section.id }}">
    {% for item in (1..5) %}
      {% for block in section.blocks offset: block_size %}
        <{% if block.settings.url != blank %}a href="{{ block.settings.url }}"{% else %}div{% endif %} class="testimonials-card-{{ section.id }}">
          <div class="testimonials-image-{{ section.id }}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: "600x600" }}" alt="{{ block.settings.image.alt }}" {% if lazy %}loading="lazy"{% endif %}>                 
            {% else %}    
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="testimonials-content-{{ section.id }}">
            {% if block.settings.title %}
              <p class="testimonials-title-{{ section.id }}">{{ block.settings.title }}</p>
            {% endif %}   
            {% if block.settings.stars_count != 0 %}                           
              <div class="testimonials-stars-{{ section.id }}">
                {% if stars_icon != blank %}
                  {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                  {% for item in (1..stars_count_round) %}
                    <img src="{{ stars_icon | image_url }}" alt="{{ stars_icon.alt }}">
                  {% endfor %}
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 0 and block.settings.stars_count < 1  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}6">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 0 and block.settings.stars_count < 1 %}url(#grad{{ section.id }}6){% elsif block.settings.stars_count > 0.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 1 and block.settings.stars_count < 2  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}7">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 1 and block.settings.stars_count < 2 %}url(#grad{{ section.id }}7){% elsif block.settings.stars_count > 1.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 2 and block.settings.stars_count < 3  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}8">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 2 and block.settings.stars_count < 3 %}url(#grad{{ section.id }}8){% elsif block.settings.stars_count > 2.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}9">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 3 and block.settings.stars_count < 4  %}url(#grad{{ section.id }}9){% elsif block.settings.stars_count > 3.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}
                      <defs>
                        <linearGradient id="grad{{ section.id }}10">
                          <stop offset="0%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="{{ stars_color }}" />
                          <stop offset="50%" stop-color="transparent" />
                          <stop offset="100%" stop-color="transparent" />
                        </linearGradient>
                      </defs>
                    {% endif %}
                    <path {% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}stroke="{{ stars_color }}"{% endif %} d="M10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0Z" fill="{% if block.settings.stars_count > 4 and block.settings.stars_count < 5  %}url(#grad{{ section.id }}10){% elsif block.settings.stars_count > 4.5 %}{{ stars_color }}{% endif %}"></path>
                  </svg>
                {% endif %}
              </div>                          
            {% endif %}   
            {% if block.settings.text != blank %}
              <div class="testimonials-text-{{ section.id }}">{{ block.settings.text }}</div>
            {% endif %}
            {% if block.settings.author != blank %}
              <p class="testimonials-author-text-{{ section.id }}">{{ block.settings.author }}</p>
            {% endif %}
          </div>                
        </{% if block.settings.url != blank %}a{% else %}div{% endif %}>
      {% endfor %}
    {% endfor %}
  </div>
{% endcapture %}

<div class="section-{{ section.id }} testimonials-{{ section.id }}" style="background-color:{{ background_color }}; background-image: {{ background_gradient }};">
    <div class="section-{{ section.id }}-settings">
      {% if heading != blank %}
        <div class="testimonials-heading-{{ section.id }}">{{ heading }}</div>
      {% endif %}
      {% if sub_heading != blank %}
        <div class="testimonials-subheading-{{ section.id }}">{{ sub_heading }}</div>
      {% endif %}
      <div class="testimonials-scrolling-{{ section.id }}">
        <div class="testimonials-wrapper-{{ section.id }}">
          {% if one_line %}
            {{ list }}
            {{ list }}
          {% else %}
            {{ list_limit }}
            {{ list_limit }}
          {% endif %}       
        </div>
      {% unless one_line %}
        <div class="testimonials-wrapper-{{ section.id }}">
          {{ list_offset }}
          {{ list_offset }}
        </div>
      {% endunless %} 
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "SS - Testimonials #30",
    "settings": [
      {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "range",
        "id": "content_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding sides",
        "default": 50
      },
      {
        "type": "range",
        "id": "content_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding sides - mobile",
        "default": 16
      },
      {
        "type": "text_alignment",
        "id": "content_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "content_align_mobile",
        "label": "Alignment - mobile"
      },      
      {
        "type": "header",
        "content": "Heading settings"
      },
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<h2>Testimonials #30</h2>"
      },
      {
        "type": "checkbox",
        "id": "heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "heading_size",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 36
      },
      {
        "type": "range",
        "id": "heading_size_mobile",
        "min": 0,
        "max": 72,
        "step": 2,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 28
      },
      {
        "type": "range",
        "id": "heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Subheading settings"
      },
      {
        "type": "richtext",
        "id": "sub_heading",
        "label": "Subheading",
        "default": "<p>Optional subheading</p>"
      },
      {
        "type": "checkbox",
        "id": "sub_heading_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "sub_heading_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "sub_heading_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "sub_heading_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 14
      },
      {
        "type": "range",
        "id": "sub_heading_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "range",
        "id": "sub_heading_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 12
      },
      {
        "type": "range",
        "id": "sub_heading_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 8
      },
      {
        "type": "header",
        "content": "Scrolling settings",
        "info": "The theme editor may display incorrect scrolling speed; please verify on the live site."
      },
      {
        "type": "range",
        "id": "scrolling_velocity",
        "min": 5,
        "max": 100,
        "step": 1,
        "label": "Speed",
        "info": "⚡ <----------------> 🐌",
        "default": 70
      },
      {
        "type": "range",
        "id": "scrolling_velocity_mobile",
        "min": 5,
        "max": 100,
        "step": 1,
        "label": "Speed mobile",
        "info": "⚡ <----------------> 🐌",
        "default": 70
      },
      {
        "type": "range",
        "id": "scrolling_gap",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap",
        "default": 10
      },
      {
        "type": "range",
        "id": "scrolling_gap_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Gap - mobile",
        "default": 10
      },
      {
        "type": "range",
        "id": "scrolling_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 32
      },
      {
        "type": "range",
        "id": "scrolling_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 24
      },
      {
        "type": "checkbox",
        "id": "reverse_direction",
        "label": "Reverse scrolling direction"
      },
      {
        "type": "checkbox",
        "id": "one_line",
        "label": "Scrolling in one line"
      },
      {
        "type": "checkbox",
        "id": "pause_hover",
        "label": "Pause on hover",
        "default": true
      },      
      {
        "type": "header",
        "content": "Card settings"
      },
      {
        "type": "range",
        "id": "card_width",
        "min": 400,
        "max": 600,
        "step": 10,
        "unit": "px",
        "label": "Width",
        "default": 550
      },
      {
        "type": "range",
        "id": "card_width_mobile",
        "min": 400,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Width - mobile",
        "default": 450
      },
      {
        "type": "range",
        "id": "card_padding_horizontal",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal",
        "default": 20
      },
      {
        "type": "range",
        "id": "card_padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding horizontal - mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "card_padding_vertical",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical",
        "default": 20
      },
      {
        "type": "range",
        "id": "card_padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding vertical - mobile",
        "default": 20
      },
      {
        "type": "range",
        "id": "card_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Roundness",
        "default": 12
      },   
      {
        "type": "range",
        "id": "card_border_thickness",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },        
      {
        "type": "header",
        "content": "Card content settings"
      },    
      {
        "type": "text_alignment",
        "id": "card_content_align",
        "label": "Alignment"
      },
      {
        "type": "text_alignment",
        "id": "card_content_align_mobile",
        "label": "Alignment - mobile"
      },  
      {
        "type": "select",
        "id": "card_content_vertical_align",
        "label": "Content vertical align",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
      },   
      {
        "type": "select",
        "id": "card_content_vertical_align_mobile",
        "label": "Content vertical align - mobile",
        "default": "center",
        "options": [
          {
            "label": "Top",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Bottom",
            "value": "end"
          }
        ]
        },   
      {
        "type": "header",
        "content": "Title settings"
      },
      {
        "type": "checkbox",
        "id": "title_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "title_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 16
      },
      {
        "type": "range",
        "id": "title_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "header",
        "content": "Stars settings"
      },
      {
        "type": "image_picker",
        "label": "Stars icon",
        "id": "stars_icon",
        "info": "Replaces the default stars icon"
      },
      {
        "type": "range",
        "id": "stars_size",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size",
        "default": 16
      },
      {
        "type": "range",
        "id": "stars_size_mobile",
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Size - mobile",
        "default": 14
      },  
      {
        "type": "range",
        "id": "stars_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 6
      },
      {
        "type": "range",
        "id": "stars_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 6
      },  
      {
        "type": "header",
        "content": "Text settings"
      },
      {
        "type": "checkbox",
        "id": "text_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "text_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 13
      },
      {
        "type": "range",
        "id": "text_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "text_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 150
      },
      {
        "type": "range",
        "id": "text_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 18
      },
      {
        "type": "range",
        "id": "text_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 16
      },
      {
        "type": "header",
        "content": "Author's name settings"
      },
      {
        "type": "checkbox",
        "id": "author_custom",
        "label": "Use custom font",
        "default": false
      },
      {
        "type": "font_picker",
        "id": "author_font",
        "label": "Font family",
        "default": "josefin_sans_n4"
      },
      {
        "type": "range",
        "id": "author_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size",
        "default": 14
      },
      {
        "type": "range",
        "id": "author_size_mobile",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Font size - mobile",
        "default": 12
      },
      {
        "type": "range",
        "id": "author_height",
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "%",
        "label": "Line height",
        "default": 130
      },
      {
        "type": "range",
        "id": "author_mt",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top",
        "default": 10
      },
      {
        "type": "range",
        "id": "author_mt_mobile",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Margin top - mobile",
        "default": 10
      },        
      {
        "type": "header",
        "content": "Content colors"
      },
      {
        "type": "color",
        "label": "Heading",
        "id": "heading_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Subheading",
        "id": "sub_heading_color",
        "default": "#868686"
      },
      {
        "type": "header",
        "content": "Card colors"
      },
      {
        "type": "color",
        "label": "Background",
        "id": "card_bg_color",
        "default": "#F7F7F7"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "card_border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Card content colors"
      },
      {
        "type": "color",
        "label": "Title",
        "id": "title_color",
        "default": "#000000"
      },
      {
        "type": "color",
        "label": "Default stars",
        "id": "stars_color",
        "default": "#F6AF00"
      },
      {
        "type": "color",
        "label": "Text",
        "id": "text_color",
        "default": "#868686"
      },
      {
        "type": "color",
        "label": "Author's name",
        "id": "author_color",
        "default": "#000000"
      },     
      {
        "type": "color",
        "label": "Author line",
        "id": "author_line_color",
        "default": "#000000"
      },           
      {
        "type": "header",
        "content": "Section colors"
      },
      {
        "type": "color",
        "label": "Section background",
        "id": "background_color",
        "default": "#FFFFFF"
      },
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Section background gradient",
        "info": "Remove gradient to replace with solid colors"
      },
      {
        "type": "color",
        "label": "Border",
        "id": "border_color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section margin (outside)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Margin sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Margin sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section padding (inside)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 100,
         "step": 4,
         "unit": "px",
         "label": "Padding bottom",
         "default": 36
      },
      {
        "type": "range",
        "id": "padding_horizontal",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Padding sides",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 15,
        "step": 0.5,
        "unit": "rem",
        "label": "Padding sides mobile",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width",
        "default": true
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 800,
        "max": 2000,
        "step": 100,
        "unit": "px",
        "label": "Section content width",
        "default": 1200
      },
      {
        "type": "range",
        "id": "border_thickness",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border thickness",
        "default": 0
      },
      {
        "type": "range",
        "id": "section_radius",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Section roundness",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "lazy",
        "label": "Lazy load",
        "info": "Lazy load images for speed optimisation",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Use images with the same aspect ratio for best results."
          },  
          {
            "type": "text",
            "id": "title", 
            "label": "Title",
            "default": "Title"
          },    
          {
            "type": "range",
            "id": "stars_count",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "label": "Star rating",
            "default": 5
          },
          {
            "type": "richtext",
            "id": "text", 
            "label": "Testimonial",
            "info": "For best results, keep the word count similar in each quote.",
            "default": "<p>Add customer reviews and testimonials to highlight the positive experiences they’ve had with your store.</p>"
          },
          {
            "type": "text",
            "id": "author", 
            "label": "Author",
            "default": "Author's name"
          },  
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SS - Testimonials #30",
        "blocks": [
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}